In [3]:
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np

In [4]:
dataframe=pd.read_csv('data.csv')

In [5]:
dataframe

    index    area  bathrooms     price    sq_price
0       0  2104.0        3.0  399900.0  190.066540
1       1  1600.0        3.0  329900.0  206.187500
2       2  2400.0        3.0  369000.0  153.750000
3       3  1416.0        2.0  232000.0  163.841808
4       4  3000.0        4.0  539900.0  179.966667
5       5  1985.0        4.0  299900.0  151.083123
6       6  1534.0        3.0  314900.0  205.280313
7       7  1427.0        3.0  198999.0  139.452698
8       8  1380.0        3.0  212000.0  153.623188
9       9  1494.0        3.0  242500.0  162.315930
10     10  1940.0        4.0  239999.0  123.710825
11     11  2000.0        3.0  347000.0  173.500000
12     12  1890.0        3.0  329999.0  174.602646
13     13  4478.0        5.0  699900.0  156.297454
14     14  1268.0        3.0  259900.0  204.968454
15     15  2300.0        4.0  449900.0  195.608696
16     16  1320.0        2.0  299900.0  227.196970
17     17  1236.0        3.0  199900.0  161.731392
18     18  2609.0        4.0  499998.0  191.643542
19     19  3031.0        4.0  599000.0  197.624546
20     20  1767.0        3.0  252900.0  143.123939
21     21  1888.0        2.0  255000.0  135.063559
22     22  1604.0        3.0  242900.0  151.433915
23     23  1962.0        4.0  259900.0  132.466871
24     24  3890.0        3.0  573900.0  147.532134
25     25  1100.0        3.0  249900.0  227.181818
26     26  1458.0        3.0  464500.0  318.587106
27     27  2526.0        3.0  469000.0  185.669042
28     28  2200.0        3.0  475000.0  215.909091
29     29  2637.0        3.0  299900.0  113.727721
30     30  1839.0        2.0  349900.0  190.266449
31     31  1000.0        1.0  169900.0  169.900000
32     32  2040.0        4.0  314900.0  154.362745
33     33  3137.0        3.0  579900.0  184.858145
34     34  1811.0        4.0  285900.0  157.868581
35     35  1437.0        3.0  249900.0  173.903967
36     36  1239.0        3.0  229900.0  185.552865
37     37  2132.0        4.0  345000.0  161.819887
38     38  4215.0        4.0  549000.0  130.249110
39     39  2162.0        4.0  287000.0  132.747456
40     40  1664.0        2.0  368500.0  221.454327
41     41  2238.0        3.0  329900.0  147.408400
42     42  2567.0        4.0  314000.0  122.321776
43     43  1200.0        3.0  299000.0  249.166667
44     44   852.0        2.0  179900.0  211.150235
45     45  1852.0        4.0  299900.0  161.933045
46     46  1203.0        3.0  239500.0  199.085619

In [9]:
redefined=dataframe.drop(['index','price','sq_price'],axis=1)[0:10]

In [10]:
redefined

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [14]:
#add labels 1=good buy; 0=bad buy
redefined.loc[:,('y1')]=[1,1,0,1,0,0,1,1,1,1]
redefined.loc[:,('y2')]=redefined['y1']==0
redefined.loc[:,('y2')]=redefined['y2'].astype(int)

In [15]:
redefined

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   0   1
3  1416.0        2.0   1   0
4  3000.0        4.0   0   1
5  1985.0        4.0   0   1
6  1534.0        3.0   1   0
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [17]:
# giddy up data for tensorflow
#convert features to tensors
inputData=redefined.loc[:,['area','bathrooms']].as_matrix()
#convert labels to tensors
labelData=redefined.loc[:,['y1','y2']].as_matrix()

array([[  2.10400000e+03,   3.00000000e+00],
       [  1.60000000e+03,   3.00000000e+00],
       [  2.40000000e+03,   3.00000000e+00],
       [  1.41600000e+03,   2.00000000e+00],
       [  3.00000000e+03,   4.00000000e+00],
       [  1.98500000e+03,   4.00000000e+00],
       [  1.53400000e+03,   3.00000000e+00],
       [  1.42700000e+03,   3.00000000e+00],
       [  1.38000000e+03,   3.00000000e+00],
       [  1.49400000e+03,   3.00000000e+00]])

In [63]:
#create hyperparamters
learningRate=0.0001 #- how fast do we get to convergence
batchSize=10 #set of training data used for training
epochs=2000 #how many times to run
display_step=50 #how often to display
nsamples=labelData.size

In [64]:
#create computation graph/neural network
# '2' features, None- means any no of examples
# placeholders are gateways
x=tf.placeholder(tf.float32,[None,2])

#create weights
W=tf.Variable(tf.zeros([2,2]))
#add biases, help model fit better
b=tf.Variable(tf.zeros([2]))

#multiply weights with biases
y_values=tf.add(tf.matmul(x,W),b)

#apply softmax to value just created, this is activation function
y=tf.nn.softmax(y_values)

y_=tf.placeholder(tf.float32,[None,2])

In [65]:
#perform training
#reduce sum, computes sum of elements across dimensions of tensor
cost=tf.reduce_mean(tf.pow(y_ - y,2))/ (2*nsamples)
#gradient descent
optimizer=tf.train.GradientDescentOptimizer(learningRate).minimize(cost)

In [66]:
#initialize variables and tensorflow session
init=tf.initialize_all_variables()
sess=tf.Session()
sess.run(init)

WARNING:tensorflow:From <ipython-input-66-cec33bed146c>:2 in <module>.: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

In [71]:
for i in range(epochs):  
    sess.run(optimizer, feed_dict={x: inputData, y_: labelData}) # Take a gradient descent step using our inputs and labels

    # That's all! The rest of the cell just outputs debug messages. 
    # Display logs per epoch step
    if (i) % display_step == 0:
        cc = sess.run(cost, feed_dict={x: inputData, y_:labelData})
        print ('Training step: '+'%04d'%i+ 'cost= {:.9f}'.format(cc)) 

print ("Optimization Finished!")
training_cost = sess.run(cost, feed_dict={x: inputData, y_: labelData})
print ('Training cost='+ str(training_cost))
print('W='+ str(sess.run(W)))
print('b='+ str(sess.run(b)))

Training step: 0000cost= 0.006003685
Training step: 0050cost= 0.006003632
Training step: 0100cost= 0.006003581
Training step: 0150cost= 0.006003529
Training step: 0200cost= 0.006003477
Training step: 0250cost= 0.006003425
Training step: 0300cost= 0.006003373
Training step: 0350cost= 0.006003321
Training step: 0400cost= 0.006003269
Training step: 0450cost= 0.006003218
Training step: 0500cost= 0.006003165
Training step: 0550cost= 0.006003114
Training step: 0600cost= 0.006003062
Training step: 0650cost= 0.006003009
Training step: 0700cost= 0.006002958
Training step: 0750cost= 0.006002907
Training step: 0800cost= 0.006002854
Training step: 0850cost= 0.006002801
Training step: 0900cost= 0.006002750
Training step: 0950cost= 0.006002698
Training step: 1000cost= 0.006002647
Training step: 1050cost= 0.006002594
Training step: 1100cost= 0.006002543
Training step: 1150cost= 0.006002490
Training step: 1200cost= 0.006002439
Training step: 1250cost= 0.006002387
Training step: 1300cost= 0.006002334
Training step: 1350cost= 0.006002283
Training step: 1400cost= 0.006002232
Training step: 1450cost= 0.006002179
Training step: 1500cost= 0.006002127
Training step: 1550cost= 0.006002076
Training step: 1600cost= 0.006002023
Training step: 1650cost= 0.006001971
Training step: 1700cost= 0.006001920
Training step: 1750cost= 0.006001867
Training step: 1800cost= 0.006001816
Training step: 1850cost= 0.006001764
Training step: 1900cost= 0.006001712
Training step: 1950cost= 0.006001660
Optimization Finished!
Training cost=0.00600161
W=[[ 0.00010991 -0.0001099 ]
 [ 0.00188196 -0.00188196]]
b=[ 0.00128693 -0.00128693]

In [72]:
sess.run(y,feed_dict={x:inputData})

array([[ 0.61688322,  0.38311678],
       [ 0.59038502,  0.40961507],
       [ 0.63213867,  0.3678613 ],
       [ 0.57965291,  0.42034712],
       [ 0.66308022,  0.33691981],
       [ 0.61157721,  0.38842282],
       [ 0.5868721 ,  0.41312787],
       [ 0.5811584 ,  0.41884163],
       [ 0.57864159,  0.42135841],
       [ 0.58473879,  0.41526121]], dtype=float32)

In [ ]:
sess.run()